#navBar {
	//background-color: rgba(255, 255, 255, .2);
	//background-color: black;
	background-color: rgba(37,28,28,.7);
	text-align: center;
	max-height: 60px;
	color: white;
	font-style: none;
	padding-top: 20px;
	padding-bottom: 15px;
	position: fixed;
	z-index: 1;

}

#navBar p {
	text-align: center;
	color: white;
	font-style: none;
	display: inline-block;
	padding: 0px 20px;
	font-size: 18px;
}

#navBar a {
	color: white;
}




.aboutLeftImage {
	background-image: url("../images/guitarPlayer.png") ;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    //background-color: black;
    min-height: 100%;
}

.aboutContent {
	    height: 110vh;
    padding-top: 90px;
    width: 50%;
    text-align: left;
    margin-top: -1px;
    background-color: white;
    z-index: 0;
}